/* impact factor  */
*{
    font-family: "Montserrat", sans-serif;
}
#bg{
    /* border: 2px solid blue; */
    width: 100%;
}
.parent{
      background-color: white;
      /* border: 2px solid red; */
      width: 90%;
      height: 90%;
      margin: 10% auto;
}
.parent:hover{
    box-shadow: 0 1px 6px black,0 1px 4px ghostwhite;
}
.top img{
      width: 70%;
      height: 60%;
      display: block;
      /* border: 2px solid black; */
      box-shadow: 0 1px 6px black,0 1px 4px rgb(211, 155, 100);
      margin: auto;
}
.top{
    padding: 2%;
}
.bottom{
    /* border: 2px solid blue; */
    width: 70%;
    padding: 5%;
    margin: auto;
}

@media screen and (max-width: 800px){
    .top img{
        width: 100%;
        height: 100%;
    }
    .top{
        padding: 4%;
    }
}
.bottom h5{
    color: #0fb9f1;
}


